<section id="sample">
    <div class="pb-5">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading text-uppercase">About us</h2>
                <h3 class="section-subheading text-muted mb-3">私たちについて</h3>
                <h4>TEDxToyohashiUTとは</h4>
                <p>42年前に設立された日本でわずか２校だけの技術科学大学が舞台であり、TEDxを通して独自性のあるアイデアを発信したいという強い願いから、2018年5月にメンバーを構成し、同年7月にライセンス認定されたUniversity枠のコミュニティ(非営利団体)です。</p>

                <p>豊橋をはじめ、東三河からたくさんの参加を募り、改めて豊橋の可能性・潜在的なアイデアの数々を、技術の英知が集積した豊橋技術科学大学でのTEDxを通して、参加者同士が新たなアイデアに出会える機会を提供します。そして、それらを日本および世界へ発信し続け、また新たなアイデアを取り込むことで、常に豊橋に新風を吹かせ続けることを目指して活動しています。</p>

                <h4>TED とは</h4>
                <p>TED(本部:アメリカ・カリフォルニア)は、Technology Entertainment Design をテーマに、功績あるスピーカーが世界各国から集まった参加者にプレゼンやスピーチを行う世界的価値の高いカンファレンスである。1984年に米国で始まり、近年は米国カリフォルニア州ロングビーチのTEDカンファレンス(春)と、英国エジンバラのTEDグローバル(夏)がTEDの2大イベントとして定着。</p>

                <p>過去にはビル・ゲイツ、ビル・クリントンなどの有名人から、ノーベル賞クラスの研究者・無名ながら価値あるアイデアを持つ人々がTEDのステージで心動かすプレゼンテーションを行い、TEDをきっかけに世界的評価を得て来ました。</p>

                <p>TED のアイデアを広めるオープンで自由な取り組みには、新しい TED トークが毎日アップされる TED.com 、世界中の数千人にもおよぶボランティア達による字幕や翻訳を提供する Open Translation Project、教育的取り組みである TED-Ed、世界に変革をもたらすための「願い」やアイデアを持った特別な個人に年間百万ドルの賞金を授与する TED-Prize、世界の各地で独自にTED スタイルのイベントを主催する何千人もの個人や団体にライセンス提供を行っている TEDx、世界中の革新的な人を選んで彼/彼女らの素晴らしいプロジェクトや活動のインパクトを広げていく TED Fellows プログラムなどが含まれています。
                </p>

                <h4>TEDx とは</h4>
                <p>「x」には、この地で独自に行われる TEDイベントである、という意味が込められています。
                    TEDx は「広める価値のあるアイデアを共有する」という精神に基づき、世界各地の人々に TED の精神に沿った体験をもたらすために自主運営されるプログラムです。</p>

                <p>世界各地で開かれたTEDxはこれまで1万以上に上り、TEDxWoman、TEDxUniversityなど各テーマに応じたイベントも開催されています。</p>

                <p>TEDx のTEDx 運営者は TED よりライセンス承認を受け、規則に従ってイベントを開催します。</p>

                <p>また、TEDの"Ideas Worth Spreading"の精神のもと、2009年から日本で始まり、現在では世界150ヵ国以上で発足しているコミュニティです。 近場では、TEDxHamamatsu,Anjo,NagoyaUが毎年開催されています。
                </p>
            </div>
        </div>
    </div>
</section>
