<footer id="colophon" class="bg-dark-a" role="contentinfo">
    <div class="container of-hid">

        <div id="ft-sub">
            <ul>
                <li><a href="kiyaku.html">利用規約・ルール</a></li>
                <li><a href="policy.html">プライバシーポリシー</a></li>
                <li><a href="press.html">報道関係の方へ</a></li>
                <li><a href="about_us.html">私たちについて</a></li>
            </ul>

        </div>

        <div id="ft-copyright" class="row py-2">
            <div class="col-12 text-center">
                Copyright © 2018 <a href="http://www.tedxtoyohashiut.com" title="TEDxToyohashiUT">TEDxToyohashiUT</a> | This independent <a href="https://www.ted.com/about/programs-initiatives/tedx-program">TEDx event</a> is operated under license from TED
            </div>
        </div>
    </div>
</footer>
