<section id="hello" class="py-6 py-sm-10 py-xl-11 px-4 px-sm-8 px-xl-10 m-0">
    <h1 class="display-4"><strong>Surf the future</strong></h1>
    <p class="lead">目まぐるしく変化する時代に、我々はついていけるのか。</p>
    <p class="lead">いや、先を見据えて前に進まねばならない。</p>
    <p class="lead">波を乗りこなすサーファーのように。</p>
    <hr class="my-4">
    <p>An Independently Organized <a href="https://www.ted.com/about/programs-initiatives/tedx-program">TEDx event</a> in <a href="jp">Toyohashi University of Technology</a>.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</section>
