<nav class="navbar navbar-expand-md navbar-dark navbar-bg fixed-top">
    <a class="navbar-brand" href="index.html" aria-label="TEDxToyohashiUT">
        <img src="./assets/img/logo.png" alt="TEDxToyohashiUT" class="d-block" width="202.8" height="36"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="index.html#speakers">Speakers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="index.html#schedule">Schedule</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="index.html#partners">Partners</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="index.html#staff">Staff</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="index.html#access">Access</a>
            </li>
        </ul>

        <ul class="navbar-nav my-2 my-lg-0">
            <li class="nav-item d-none d-md-block">
                <a class="nav-link p-2" href="https://twitter.com/tedxtoyohashiut"><i class="fa fa-lg fa-twitter"></i></a>
            </li>
            <li class="nav-item d-none d-md-block">
                <a class="nav-link p-2" href="https://www.facebook.com/TEDxToyohashiUT/"><i class="fa fa-lg fa-facebook"></i></a>
            </li>
            <li class="nav-item d-none d-md-block">
                <a class="nav-link p-2" href="https://www.instagram.com/tedxtoyohashiut/"><i class="fa fa-lg fa-instagram"></i></a>
            </li>
        </ul>
    </div>
</nav>
