<nav class="navbar navbar-expand navbar-dark flex-column flex-md-row navbar-bg fixed-top">

  <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Bootstrap">
  <img src="./assets/img/logo.png" alt="TEDxToyohashiUT" class="d-block" width="202.8" height="36"></a>

  <div class="navbar-nav-scroll">
    <ul class="navbar-nav bd-navbar-nav flex-row">
      <li class="nav-item">
        <a class="nav-link" href="#speakers">Speakers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#schedule">Schedule</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#partners">Partners</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#staff">Staff</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#access">Access</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about-tedx">About TEDx</a>
      </li>
    </ul>
  </div>

  <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
    <li class="nav-item">
      <a class="nav-link p-2" href="https://twitter.com/tedxtoyohashiut"><i class="fa fa-lg fa-twitter"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link p-2" href="https://www.facebook.com/TEDxToyohashiUT/"><i class="fa fa-lg fa-facebook"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link p-2" href="https://www.instagram.com/tedxtoyohashiut/"><i class="fa fa-lg fa-instagram"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#">JPN</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">ENG</a>
    </li>
  </ul>
</nav>
