<section id="partners">
  <div class="pt-5 pb-5">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-heading text-uppercase">Partners</h2>
        <h3 class="section-subheading text-muted">出資企業様のご紹介</h3>
        <p>現在，TEDxToyohashiUT ではTEDxイベント開催に賛同していただく，パートナー企業様を募集しております．</p>
      </div>
    </div>
<!--
<div class="row">
  <div class="col-12 col-md-6 col-lg-4">
    <div class="card text-white m-3">
      <img class="card-img" src="/assets/img/dummy/3.jpg" alt="Card image">
      <div class="card-img-overlay">
        <h5 class="card-title">co-name</h5>
        <p class="card-text">description</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-8 mx-auto text-center">
    <p class="large text-muted">TEDxToyohashiUT に賛同いただく，パートナー企業様のご紹介です．</p>
  </div>
</div>
-->
  </div>
</section>
