<section id="staff">
  <div class="pt-5 pb-5">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-heading text-uppercase">Staff</h2>
        <h3 class="section-subheading text-muted">TEDxToyohashiUT 代表</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card m-3">
          <img class="card-img-top" src="./assets/img/default-avatar.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Yuta</h5>
            <h6 class="card-subtitle mb-2 text-muted">Organizer</h6>
            <p class="card-text">アメリカ合衆国の政治家である．民主党所属．上院議員，イリノイ州上院議員，第44代アメリカ合衆国大統領を歴任した． アフリカ系としてアメリカ合衆国史上3人目となる民選上院議員．</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">
            <i class="fa fa-twitter"></i>
          </a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card m-3">
          <img class="card-img-top" src="./assets/img/default-avatar.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Rimu</h5>
            <h6 class="card-subtitle mb-2 text-muted">Co-organizer</h6>
            <p class="card-text">アメリカ合衆国の実業家，政治家．第45代アメリカ合衆国大統領．不動産会社トランプ・オーガナイゼーションの会長兼社長を務めており，カジノ・ホテル運営会社トランプ・エンターテイメント・リゾーツの設立者である．</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">
            <i class="fa fa-twitter"></i>
          </a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card m-3">
          <img class="card-img-top" src="./assets/img/default-avatar.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Michael</h5>
            <h6 class="card-subtitle mb-2 text-muted">Co-organizer</h6>
            <p class="card-text">アメリカ合衆国の映画俳優，実業家，元政治家，元ボディビルダー．2003年から2011年にかけてカリフォルニア州知事を務めた．</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">
            <i class="fa fa-twitter"></i>
          </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <p class="large text-muted">TEDxToyohashiUT運営チームです．現在，日本人と留学生，約20名で構成されています．</p>
      </div>
    </div>
  </div>
</section>
