<section id="staff">
    <div class="pb-5">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading text-uppercase">Staff</h2>
                <h3 class="section-subheading text-muted mb-3">TEDxToyohashiUT 代表</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card m-3">
                    <img class="card-img-top" src="./assets/img/yuta2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Yuta</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Organizer</h6>
                        <p class="card-text">海外在住時にTEDxを開催できることを知り、今年2月の帰国直後より準備を進めてきた。在学中にTEDxを開催することが目標であり、豊橋技科大発で世界に“価値あるアイデア”を広めていき、大学内からも発信者を生み出していきたい。</p>
                        <!--
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">
            <i class="fa fa-twitter"></i>
          </a>
-->
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card m-3">
                    <img class="card-img-top" src="./assets/img/rimu.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Rimu</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Co-organizer</h6>
                        <p class="card-text">最初から代表の今井と共にTEDxToyohashiUTを立ち上げたのは、大学に、そして、豊橋市内にもっと多様な価値が流れまわることを実現したいから。同じく、団体の運営にも多様性を重視し、技科大の留学生をはじめ、様々な背景を持つメンバーを募って、一緒にチーム活動をするなかで新しいインスピレーションを得ながらTEDxから飛躍していって欲しい。</p>
                        <!--
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">
            <i class="fa fa-twitter"></i>
          </a>
-->
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card m-3">
                    <img class="card-img-top" src="./assets/img/michael.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Michael</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Co-organizer</h6>
                        <p class="card-text">岐阜工業高等専門学校から豊橋技術科学大学（TUT）へ編入し、後輩や家族がTUTへ入学したいと思える環境を整備することを日々考えている。
                            その一環としてTUTを盛り上げるべく、地域からアイディアを広げるという理念で動いているTEDxToyohashiUTの実行グループへ参加し、現在奔走中。</p>
                        <!--
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">
            <i class="fa fa-twitter"></i>
          </a>
-->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <p class="large text-muted">TEDxToyohashiUT運営チームです．現在，日本人と留学生，約20名で構成されています．</p>
            </div>
        </div>
    </div>
</section>
