<section id="staff">
  <div class="pt-5 pb-5">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-heading text-uppercase">Staff</h2>
        <h3 class="section-subheading text-muted">TEDxToyohashiUT 代表</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card m-3">
          <img class="card-img-top" src="./assets/img/yuta.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Yuta</h5>
            <h6 class="card-subtitle mb-2 text-muted">Organizer</h6>
            <p class="card-text">TEDxToyohashiUT Organizer.■姫路→豊橋の某国立大(休学〜復学👈ココ)電気電子 ■テラドローン(東京)/webエンジニア/ドローン空撮■TEDxToyohashiUT代表(@tedxtoyohashiut)→3月■BIT VALLEY2018/10月Techフェス豊橋@サイエンスコア/PoliPoliアンバサダー</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">
            <i class="fa fa-twitter"></i>
          </a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card m-3">
          <img class="card-img-top" src="./assets/img/rimu.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Rimu</h5>
            <h6 class="card-subtitle mb-2 text-muted">Co-organizer</h6>
            <p class="card-text">TEDxToyohashiUT Co-organizer.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">
            <i class="fa fa-twitter"></i>
          </a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card m-3">
          <img class="card-img-top" src="./assets/img/michael.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Michael</h5>
            <h6 class="card-subtitle mb-2 text-muted">Co-organizer</h6>
            <p class="card-text">TEDxToyohashiUT Co-organizer.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">
            <i class="fa fa-twitter"></i>
          </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <p class="large text-muted">TEDxToyohashiUT運営チームです．現在，日本人と留学生，約20名で構成されています．</p>
      </div>
    </div>
  </div>
</section>
