<!DOCTYPE html>
<html lang="ja">

<head>
    <!-- include meta, favicon -->
    {% include meta.html %}
    <!-- title -->
    <title>{{page.title}} - {{site.name}}</title>
    <!-- include stylesheet -->
    {% include stylesheets.html %}

</head>

<body>
    <!-- navigation bar -->
    {% include nav.html%}
    <!-- main contents-->
    <main role="main">
        <!-- belt -->
        {% include belt.html %}
        <div class="container">
            <!-- creative_commons -->
            {% include rule.html %}
            <!-- kiyaku -->
            {% include kiyaku.html %}
            <!-- policy -->
            {% include policy.html %}
            <!-- press -->
            {% include press.html %}
            <!-- about us -->
            {% include about_us.html %}
        </div>

    </main>

    <!-- footer -->
    {% include footer.html %}

    <!-- include javascripts -->
    {% include javascripts.html %}

</body>

</html>
